<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Story 10 Adham Miftah</title>

</head>

<body>
    <h1>Login</h1>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p}}
        <button type="submit">Login</button>
    </form>
</body>


</html>