<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Story 10 Adham Miftah</title>

</head>

<body>
    <h1>Hello there!</h1>
    <p><a href="{% url 'signup' %}">Sign Up</a> / <a href="{% url 'login' %}">Login</a></p>
</body>


</html>