<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Story 10 Adham Miftah</title>

</head>

<body>
    <h1>Login Successful!</h1>
    <p>Welcome, {{ user.username }}!</p>
    <a href="{% url 'logout' %}">Logout</a>
</body>

</html>